[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/phablet/start-fedora-desktop.sh
Icon=/home/phablet/fedora_logo.png
Name=Fedora 42 桌面
Name[en]=Fedora 42 Desktop
Name[zh_CN]=Fedora 42 桌面
Comment=在 Lomiri 桌面内启动 Fedora 42 容器 XFCE 桌面
Comment[en]=Launch Fedora 42 LXC container XFCE desktop inside Lomiri
Comment[zh_CN]=在 Lomiri 桌面内启动 Fedora 42 容器 XFCE 桌面